.pokemon-card-wrapper {
    height: 256px;
    width: 184px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    transform-origin: center center;
    /* transform: matrix3d(
        1, 0, 0, 0,
        0, 1, 0, 0,
        0, 0, 1, 0,
        0, 0, 19, 1
    ); */
}

.pokemon-card {
    
}

.pokemon-card-image {
    height: 256px;
    width: 184px;
    object-fit: contain;
}

.pokemon-card-overlay {
    position: absolute;
    height: 256px;
    width: 184px;
}